<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.springboot.demo.dao.MapMapper">

	<insert id="create" parameterType="java.util.Map">
		INSERT INTO t_map 
		<foreach collection="map.keys" item="key" open="(" close=")" separator="," >  
            ${key}  
         </foreach>  
         values   
         <foreach collection="map.values"  item="val" open="(" close=")" separator=",">  
            #{val}
         </foreach>
	</insert>

	
</mapper>