<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">

    <springProperty scope="context" name="serverName" source="spring.application.name" defaultValue="ytj"/>
    <springProperty scope="context" name="path" source="logging.file.path" defaultValue="/data/logs"/>
    <springProperty scope="context" name="maxHistory" source="logging.file.max-history" defaultValue="20"/>
    <springProperty scope="context" name="maxSize" source="logging.file.max-size" defaultValue="1000MB"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] traceId=%X{TraceId}  %logger{36}:%line - %msg%n%ex{full}"/>

    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} | app=%property{serverName} | level=%-5level | thread=%thread | logger=%logger{36} | line=%line | requestId=%X{requestId} | userId=%X{userId} | msg=%msg%n%ex{full}"/>

    <appender name="TRACE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${path}/${serverName}-web/${serverName}-web_trace.log</file>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责触发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志输出位置 可相对、和绝对路径 -->
            <fileNamePattern>
                ${path}/${serverName}-web/${serverName}-web_trace.log.%d{yyyyMMdd}.%i.zip
            </fileNamePattern>
            <!-- 过期时间 -->
            <maxHistory>${maxHistory}</maxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>${maxSize}</MaxFileSize>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | app=%property{serverName} | level=%-5level | thread=%thread | logger=%logger{36} | line=%line | traceId=%X{TraceId} | requestId=%X{requestId} | userId=%X{userId} | msg=%msg%n%ex{full}</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <filter class="com.my.springboot.demo.config.MyLogLevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="root" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${path}/${serverName}-web/${serverName}-web_root.log</file>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责触发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志输出位置 可相对、和绝对路径 -->
            <fileNamePattern>
                ${path}/${serverName}-web/${serverName}-web_root.log.%d{yyyyMMdd}.%i.zip
            </fileNamePattern>
            <!-- 过期时间 -->
            <maxHistory>${maxHistory}</maxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>${maxSize}</MaxFileSize>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="error-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${path}/${serverName}-web/${serverName}-web_error.log</file>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责触发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志输出位置 可相对、和绝对路径 -->
            <fileNamePattern>
                ${path}/${serverName}-web/${serverName}-web_error.log.%d{yyyyMMdd}.%i.zip
            </fileNamePattern>
            <!-- 过期时间 -->
            <maxHistory>${maxHistory}</maxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>${maxSize}</MaxFileSize>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="${log.level}" additivity="true">
        <appender-ref ref="root"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="error-appender"/>
        <appender-ref ref="TRACE_FILE"/>
    </root>

<!--    &lt;!&ndash; Logger配置 &ndash;&gt;-->
<!--    <logger name="com.yourpackage" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="TRACE_FILE"/>-->
<!--    </logger>-->

<!--    <root level="INFO" additivity="true">-->
<!--        <appender-ref ref="TRACE_FILE"/>-->
<!--        <appender-ref ref="root"/>-->
<!--    </root>-->
</configuration>